server:
  port: 8083

spring:
  application:
    name: product-service
  config:
    import: optional:file:../application-db.yml
  cache:
    type: redis

management:
  endpoints:
    web:
      exposure:
        include: health,info
