server:
  port: 8081

spring:
  application:
    name: auth-service
  config:
    import: optional:file:../application-db.yml

management:
  endpoints:
    web:
      exposure:
        include: health,info
