server:
  port: 8087

spring:
  application:
    name: batch-service
  config:
    import: optional:file:../application-db.yml
  batch:
    jdbc:
      initialize-schema: always
    job:
      enabled: false

management:
  endpoints:
    web:
      exposure:
        include: health,info
